node_modules/
.env
data/*.db
data/*.db-journal
data/*.db-wal
data/*.db-shm
uploads/**/*
!uploads/**/.gitkeep
npm-debug.log*
.DS_Store
.next/
*.zip
Upload your Artwork - Performance _( Upload a photo , video , PDF , or any other relevant file.) (File responses)/
Performance _( Upload a photo , video , PDF , or any other relevant file.) (File responses)*
